Checks: "
    clang-diagnostic-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-rvalue-reference-param-not-moved,
"
WarningsAsErrors: true
HeaderFilterRegex: ".*"
FormatStyle: llvm
